{% extends 'blog/base.html' %}
{% load bootstrap4 %}
{% block content %}

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="signup">
                <h1>Create Account</h1>
            </div>
            {% if form.errors %}
                <p>{{ forms.errors }}</p>
            {% endif %}

            <hr>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <br>
                <input type="submit" value="Create Account" class="btn btn-success"/>
                <span>Already Have Account? </span><a href="{% url 'blog:login' %}">Login</a>
                <input type="hidden" name="next" value="{{ next }}"/>

            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}